###############################################################################
#
# Copyright 2014, Juan Cecconi (UTN-FRBA, Numetron)
#
# This file is part of CIAA Firmware.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# 1. Redistributions of source code must retain the above copyright notice,
#    this list of conditions and the following disclaimer.
#
# 2. Redistributions in binary form must reproduce the above copyright notice,
#    this list of conditions and the following disclaimer in the documentation
#    and/or other materials provided with the distribution.
#
# 3. Neither the name of the copyright holder nor the names of its
#    contributors may be used to endorse or promote products derived from this
#    software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.
#
###############################################################################
#OpenOCD configuration (target and interface) for CIAA-NXP

interface ftdi
ftdi_vid_pid 0x0403 0x6010
ftdi_channel 0

######################################################################################################
# ftdi_layout_init 'Value' 'Direction'
# Work make magic: 'ACBUS7-0+ADBUS7-0'
#ADBUS0 = FT_CLCK = 1, Clock
#ADBUS1 = FT_TDI = 1, Data Output to target
#ADBUS2 = FT_TDO = 0, Data Input from target
#ADBUS3 = FT_TMS = 1, Test Mode Select
#ADBUS4 = Pin 14 - (Not used, force to 1)
#ADBUS5 = Pin 12 - (Not used, force to 1)
#ADBUS6 = Pin 10 - (Not used, force to 1)
#ADBUS7 = Pin 8 - (Not used, force to 1)
#ACBUS0 = FT_TRST = 1, TAP Reset (not used, force to 1)
#ACBUS1 = FT_RST = 1, System Reset (not used, force to 1)
#ACBUS2 = FT_OE = 1, Buffer OE (force to 1 on operation)
#ACBUS3 = Pin 6 - (Not used, force to 1)
#ACBUS4 = Pin 4 - (Not used, force to 1)
#ACBUS5 = Pin 2 - (Not used, force to 1)
#ACBUS6 = Pin 1 - (Not used, force to 1)
#ACBUS7 = Pin 3 - (Not used, force to 1)
######################################################################################################
ftdi_layout_init 0x0708 0xFFFB

######################################################################################################
# nTRST is not routed. For future use.
######################################################################################################
#ftdi_layout_signal nTRST -data 0x0100 

######################################################################################################
# nSRST is not routed. For future use.
######################################################################################################
#ftdi_layout_signal nSRST -data 0x0200

################################################################
# Secure JTAG clock frecuency
################################################################
adapter_khz 2000

set _CHIPNAME lpc4337

# M4 JTAG mode TAP
set _M4_JTAG_TAPID 0x4ba00477
# M0 TAP
set _M0_JTAG_TAPID 0x0ba01477

jtag newtap $_CHIPNAME m4 -irlen 4 -ircapture 0x1 -irmask 0xf -expected-id $_M4_JTAG_TAPID
jtag newtap $_CHIPNAME m0 -irlen 4 -ircapture 0x1 -irmask 0xf -expected-id $_M0_JTAG_TAPID

target create $_CHIPNAME.m4 cortex_m -chain-position $_CHIPNAME.m4
target create $_CHIPNAME.m0 cortex_m -chain-position $_CHIPNAME.m0

################################################################
# Defino un area de trabajo en la RAM para acelerar el proceso
# de programación de la flash
################################################################
set _WORKAREASIZE 0x8000
$_CHIPNAME.m4 configure -work-area-phys 0x10000000 -work-area-size $_WORKAREASIZE 

################################################################
# Defina internal flash with lpc2000 driver
################################################################
set _FLASHNAME $_CHIPNAME.flash
flash bank $_FLASHNAME lpc2000 0x1a000000 0x80000 0 0 $_CHIPNAME.m4 lpc4300 96000 calc_checksum

################################################################
# Defina QSPI area with lpcspifi magic driver
################################################################
set _FLASHNAME $_CHIPNAME.spiflash
flash bank $_FLASHNAME lpcspifi 0x14000000 0 0 0 $_CHIPNAME.m4

################################################################
# TRST (TAP Reset) & SRST (System Reset) not routed 
# For future use
################################################################
reset_config none

################################################################
# on this CPU we should use VECTRESET to perform a soft reset and
# manually reset the periphery
# SRST or SYSRESETREQ disable the debug interface for the time of
# the reset and will not fit our requirements for a consistent debug
# session
################################################################
cortex_m reset_config vectreset
